<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Shravan Suite"  >

  <listeners>
	<listener class-name="utilities.Reporting"/>
  </listeners>
  
   <test thread-count="5"  name="Login_Test" parallel="classes">
  
      <classes>
      <class name="testCases.TC_Login_001"/>
      <class name="testCases.googleLogin"/>
      
    </classes>
  
  </test>
   

<!-- Test -->
</suite> <!-- Suite -->
